@inherits LayoutComponentBase
@inject IAuthManager _authManager
@inject AuthenticationStateProvider _authenticationStateProvider
@inject NavigationManager _navigationManager
@using Blazored.Toast.Configuration
<div class="page">
 
    @*<div class="sidebar">
        <NavMenu />
    </div>*@
    

    <main>

        <div class="top-row px-4">
                    <AuthorizeView>
                        <Authorized>
                                    <NavLink class="nav-link" type="button" @onclick="GoMessages">
                                        <span class="p-2">
                                            Messages
                                        </span>
                                    </NavLink>
                                <NavLink class="nav-link" href="#">
                                    <span class="p-2">
                                        Welcome, @context.User.Identity.Name
                                    </span>
                                </NavLink>
                           
                       
                                <NavLink class="nav-link" type="button"  @onclick="Logout">
                                    <span class="p-2">
                                        Logout
                                    </span>
                                </NavLink>
                         
                        </Authorized>
                        <NotAuthorized>

                                <NavLink class="nav-link" href="/Account/Register">
                                    <span class="p-2">
                                        Register
                                    </span>
                                </NavLink>
                                <NavLink class="nav-link" href="/Account/Login">
                                    <span class="p-2">
                                        Login
                                    </span>
                                </NavLink>
                        </NotAuthorized>

                    </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<BlazoredToasts Position="ToastPosition.BottomRight"
                        Timeout="10"
                        IconType="IconType.FontAwesome"
                        SuccessClass="success-toast-override"
                        SuccessIcon="fa fa-thumbs-up "
                        ErrorIcon="fa fa-bug" />

@code{
    public async Task Logout()
    {
        await _authManager.Logout();
        await _authenticationStateProvider.GetAuthenticationStateAsync();
        _navigationManager.NavigateTo("");
        await OnInitializedAsync();
    }

    private async Task GoMessages()
    {
        _navigationManager.NavigateTo("MessagePage");
    }
}