@page "/User/Request/{vehicleId:int}"
@inject IRequestManager _requestManager;
@inject IToastService _toastService;
@inject NavigationManager _navigationManager
<EditForm Model="requestDTO" OnValidSubmit="CreateRequestHandleAsync">

    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 mt-5">

                <div class="form-group col-5">
                    <label for="vehicleType" class="form-label">Vehicle Type</label>
                    <select class="form-control" id="vehicleType" @bind="requestDTO.RequestType">
                        <option value="HometoHomeTransport">HometoHomeTransport</option>
                        <option value="OfficeTransport">OfficeTransport</option
                        <option value="LargeCapacityTransport">LargeCapacityTransport</option>
                         <option value="MostlyObjectsTransport">MostlyObjectsTransport</option>
  
        
                    </select>
                </div>
                <div class="form-group col-5">
                    <label for="ContactConfirmation" class="form-label">ContactConfirmation</label>
                    <input type="text" class="form-control" id="ContactConfirmation" @bind="requestDTO.ContactConfirmation" step="0.01">
                </div>

                <div class="form-group col-5">
                    <label for="RequestDetail" class="form-label">Request Detail</label>
                    <input type="text" class="form-control" id="RequestDetail" @bind="requestDTO.RequestDetail">
                </div>
                <ValidationSummary></ValidationSummary>
                <br /><br />
                <button type="submit" class="btn btn-primary">Update Vehicle</button>
            </div>
        </div>
    </div>
</EditForm>

@code {

    RequestDTO requestDTO = new RequestDTO();

    [Parameter]
    public int vehicleId { get; set; }


    protected override void OnInitialized()
    {
        if (int.TryParse(_navigationManager.Uri.Split('/').Last(), out int parsedCompanyId))
        {
            vehicleId = parsedCompanyId;
        }
    }
    private  async Task CreateRequestHandleAsync()
    {
        requestDTO.VehicleId = vehicleId;

        var result =await _requestManager.MakeRequest(requestDTO);

        if(result.Success = true)
        {
            _toastService.ShowSuccess(result.Message);
            _navigationManager.NavigateTo("/Users/Requests");
        }
        else
        {
              _toastService.ShowError(result.Message);
        }
      
        
    }
}
