@page "/User/Request"

  @*    public string RequestType { get; set; }
        public string RequestDetail { get; set; }
        public string ContactConfirmation { get; set; }*@
       
        <div class="car">


        </div>

@code {

}
